<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
</head>
<body>
    <a href="../../index.html"></a>
    <img src="../../Home/Images/kielogo.jpeg" alt="">
     <ul class="dropdown-menu">
              <li><a class="dropdown-item fw-medium" href="../../dataScience/dataScience.html">Data Science</a></li>
              <li><a class="dropdown-item fw-medium" href="../../dataEngineering/dataEngineering.html">Data Engineering</a>
              </li>
              <li><a class="dropdown-item fw-medium" href="../../data-visualization/dataVisualization.html">Data
                  Visualization</a></li>
            </ul>
                        <ul class="dropdown-menu text-dark">
              <li><a class="dropdown-item fw-medium" href="../../Newsroom/Kie-Blogs/blogs.html">Blogs</a></li>
              <li><a class="dropdown-item fw-medium" href="../../Newsroom/pressRelease.html">Press Release</a></li>
              <li><a class="dropdown-item fw-medium" href="../../Newsroom/press-and-media.html">Press & Media</a></li>
              

            </ul>
             <ul class="dropdown-menu">
              <li><a class="dropdown-item fw-medium" href="../../Industries/CPG&Retail.html">CPG & Retail</a></li>
              <li><a class="dropdown-item fw-medium" href="#">Pharma & Lifesciences</a>
              </li>
              <li><a class="dropdown-item fw-medium" href="#">Telecom</a></li>
              <li><a class="dropdown-item fw-medium" href="../../Industries/Banking&Insurance.html">Banking & Insurance
              </a></li>
              <li><a class="dropdown-item fw-medium" href="../../Industries/Manufacturing&Distribution.html">Manufacturing & Distribution
              </a></li>
              <li><a class="dropdown-item fw-medium" href="../../Industries/Government&PublicSector.html">Government & Public Sector</a></li>
            </ul>
            <a href="../../Careers/life-@-Kie.html"></a>
</body>
</html>