 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 body .section-title {
     /* font-family: "Inter", serif; */
     font-family: "Poppins", serif;
     font-size: 3rem;
     line-height: 1.25;
     font-weight: 300;
     /* color: #121212; */

 }

 .section-title-copy {
     color: #c91000 !important;
 }


 .main-container {
     display: block;
     margin: 4rem 0;
 }

 /* testimonials carousel  */
 .testimonial-container h2 {
     color: #000;
     font-size: 26px;
     font-weight: 300;
     position: relative;
     margin: 0 0 50px 0;
     text-transform: uppercase;
     display: inline-block;
 }

 .testimonial-container h2::after {
     content: "";
     width: 50%;
     position: absolute;
     height: 4px;
     border-radius: 1px;
     background: #333;
     left: 0;
     bottom: -20px;
 }

 .testimonial-container .carousel {
     margin: 50px auto;
 }

 .testimonial-container .carousel .carousel-item {
     color: #999;
     overflow: hidden;
     min-height: 120px;
     font-size: 13px;
 }

 .testimonial-container .carousel .media {
     position: relative;
     padding: 0 0 0 20px;
     margin-left: 20px;
 }

 .testimonial-container .carousel .media img {
     width: 75px;
     height: 75px;
     display: block;
     border-radius: 50%;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
     border: 2px solid #fff;
 }

 .testimonial-container .carousel .testimonial {
     color: #333;
     position: relative;
     background: #D8DBDA !important;
     padding: 15px;
     margin: 0 0 20px 20px;
 }

 .testimonial-container .carousel .testimonial::before,
 .testimonial-container .carousel .testimonial::after {
     content: "";
     display: inline-block !important;
     position: absolute !important;
     left: 0 !important;
     top: 100% !important;
 }

 .testimonial-container .carousel .testimonial::before {
     width: 20px !important;
     height: 20px !important;
     background: #9b9b9b !important;
     box-shadow: inset 12px 0 13px rgba(0, 0, 0, 0.5) !important;
 }

 .testimonial-container .carousel .testimonial::after {
     width: 0 !important;
     height: 0 !important;
     border: 10px solid transparent !important;
     border-bottom-color: #fff !important;
     border-left-color: #fff !important;
 }

 .testimonial-container .carousel .carousel-item .testimonial {
     box-shadow: none !important;
     border-radius: 0 !important;
 }

 .testimonial-container .carousel .carousel-item .row>div:first-child .testimonial {
     margin: 0 20px 20px 0;

 }

 .testimonial-container .carousel .carousel-item .row>div:first-child .media {
     margin-left: 0;
 }

 .testimonial-container .carousel .testimonial p {
     text-indent: 40px;
     line-height: 21px;
     margin: 0;
 }

 .testimonial-container .carousel .testimonial p::before {
     content: "\201D";
     font-family: "Poppins", serif;
     color: #333;
     font-weight: bold;
     font-size: 68px;
     line-height: 70px;
     position: absolute;
     left: -25px;
     top: 0;
 }

 .testimonial-container .carousel .overview {
     padding: 3px 0 0 15px;
 }

 .testimonial-container .carousel .overview .details {
     padding: 5px 0 8px;
 }

 .testimonial-container .carousel .overview b {
     text-transform: uppercase;
     color: #333;
 }

 .testimonial-container .carousel-control-prev,
 .testimonial-container .carousel-control-next {
     width: 30px;
     height: 30px;
     background: #666;
     text-shadow: none;
     top: -40px;
     text-decoration: none;
 }

 .testimonial-container .carousel-control-prev i,
 .testimonial-container .carousel-control-next i {
     font-size: 16px;
 }

 .testimonial-container .carousel-control-prev {
     left: auto;
     right: 40px;
 }

 .testimonial-container .carousel-control-next {
     left: auto;
 }

 .testimonial-container .carousel-indicators {
     bottom: -60px;
 }

 .carousel-indicators li {
     text-indent: -999999em;
     text-align: unset;
     display: block;

 }

 .testimonial-container .carousel-indicators li,
 .testimonial-container .carousel-indicators li.active {
     width: 17px;
     height: 17px;
     border-radius: 0;
     margin: 1px 5px;
     box-sizing: border-box;
     cursor: pointer;
 }

 .testimonial-container .carousel-indicators li {
     background: #e2e2e2;
     border: 4px solid #fff;
 }

 .testimonial-container .carousel-indicators li.active {
     color: #fff;
     background: #333;
     border: 5px double;
 }


 .star-rating li {
     padding: 0 2px;
 }

 .star-rating i {
     font-size: 14px;
     color: #ffdc12;
 }

 .resource-img {
     width: auto;
     height: 300px;
     display: flex;
     background: #fff;
     padding: 1rem;
 }

 .resource-container {
     display: block;
 }

 .resource-container h4 {
     display: block;
     font-size: 20px;
     /* font-family: "Inter", serif; */
     font-family: "Poppins", serif;
     padding: 1rem;
     font-weight: 600;
     color: #5a5a5a;
     padding: 12px 0;
 }

 .cta-section {
     display: block;
     width: 100%;
     background-color: #f6f7f8;
     box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.15);
     padding: 1.5rem;
     text-align: center;
 }

 .cta-section h4 {
     color: #FFAC12;
 }

 .grey-background {
     background-color: #f6f7f8;

 }

 .fa-user {
     width: 64px;
     height: 64px;
     display: block;
     aspect-ratio: 1;
     border-radius: 50%;
     border: 1px solid rgba(0, 0, 0, 0.2);
     text-align: center;
     vertical-align: middle;
     font-size: 44px;
     line-height: 60px;
 }

 .hero-static {
     display: block;
     background: #fff;
     padding-bottom: 28.38%;
     margin-bottom: 2rem;
     overflow: hidden;
     height: 0;
     position: relative;
     margin-top: 85px;
 }

 .hero-static .hero-img {
     display: block;
     width: 100%;
     height: 420px;
     overflow: hidden;
     background: url(../images/kie-square-AI-BI-Enhancing-Business-Intelligence-with-Power-BI-v2.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     display: block;
 }

 .caseStudy2Img .hero-img {
     display: block;
     width: 100%;
     height: 420px;
     overflow: hidden;
     background: url(../images/kie-square-AI-BI-CaseStudy2-home.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     display: block;
 }

 .caseStudy3Img .hero-img {
     display: block;
     width: 100%;
     height: 420px;
     overflow: hidden;
     background: url(../images/kie-square-AI-BI-caseStudy3-banner.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     display: block;
 }

 .caseStudy4Img .hero-img {
     display: block;
     width: 100%;
     height: 420px;
     overflow: hidden;
     background: url(../images/kie-square-AI-BI-CaseStudy4-banner.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     display: block;
 }

 .sub-title {
     color: #121212;
     font-size: 24px;
     font-weight: 600;
     line-height: 36px;
     margin-bottom: 20px;

     font-family: "Poppins", serif;
     border-bottom: 3px solid #333;

 }

 .casestudy-title {
     font-family: "Poppins", serif;
     font-size: 30px;
     color: #c91000;
     font-weight: 500;
     display: block;
     text-align: left;
     margin-bottom: 2rem;
     margin: 0 48px;
 }

 .casestudy-name {
     font-family: "Poppins", serif;
     font-size: 18px;
     color: #1a1a1a;
     font-weight: 300;
     display: block;
     text-align: left;
     margin-bottom: 2rem;
     margin: 0 48px 24px;
 }

 .ulContent {
     font-size: 18px;
 }

 .casestudy-text {
     display: block;
     list-style-type: disc;
     margin-bottom: 8px;
 }

 ol.casestudy-text {
     list-style-type: decimal;
 }

 .casestudy-text li {
     font-size: 16px;
     line-height: 24px;
     font-weight: 400;
     color: #212121;
     font-family: "Poppins", serif;
 }

 .casestudy-text li span {
     font-weight: 600;
 }

 .sub-content {
     display: block;
     margin-bottom: 2rem;
 }

 .sticky-top-banner {
     position: sticky;
     top: 100px;
 }

 .btn.btn-primary {
     background: rgb(176, 25, 12);
     background: linear-gradient(0deg, rgba(176, 25, 12, 1) 0%, rgba(212, 29, 13, 1) 100%);
     border-color: rgb(176, 25, 12);
 }

 .btn.btn-primary:hover {
     background: linear-gradient(0deg, rgba(212, 29, 13, 1) 0%, rgba(176, 25, 12, 1) 100%);
 }

 .case-main-container {
     position: relative;
     display: block;
     padding-top: 242px;
 }

 .case-main-container .hero-static {
     position: absolute;
     top: 0;
     margin: 0 auto;
     width: 100%;
     height: auto;
     display: block;
     z-index: -1;
 }

 .case-main-container .container {
     background-color: #fff;
     padding-top: 60px;
 }

 .client-quotes {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     padding: 32px 0;
     gap: 12px;
 }

 .sticky-top-section {
     position: sticky;
     top: 117px;
 }

 .client-quotes .card {
     background-color: #fff;
     border-radius: 20px 0 20px 0;
     border: 1px solid rgba(0, 0, 0, 0.2);
     position: relative;
     flex: 1 1 auto;
 }

 .client-quotes .card h4.card-title {
     font-size: 16px;
     font-weight: 400;
     font-family: "poppins", sans-serif;
     color: #080808;
     position: relative;
     padding-top: 1.5rem;
 }

 .client-quotes .card h4.card-title::before {
     content: '“';
     font-family: 'Times New Roman', Times, serif;
     font-size: 6rem;
     line-height: .5;
     font-style: normal;
     color: #c94444;
     position: absolute;
     top: 0px;
     left: 0px;
 }

 .client-quotes .card .card-text {
     color: #1a1a1a;
     font-size: 14px;
     font-family: "poppins", sans-serif;
     font-weight: 600;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     line-height: 1.25;
     padding-top: 1.5rem;
 }

 .client-quotes .card .card-text span {
     font-size: 13px;
     color: #1a1a1a;
     font-weight: 300;
 }

 .caseStudy-summary {
     /* font-family: "Inter", serif; */
     font-family: "Poppins", serif;
     font-style: italic;
     color: #1a1a1a;
     font-weight: 300;
 }

 .casestudy-container {
     width: 80vw;
     margin: 0 auto;
     display: flex;
     background-color: #fff;
     padding: 3rem 0;
 }

 .tabbed-nav .tab-nav-item .nav-links {
     text-decoration: none;
     position: relative;
     padding: 12px 20px;
     background-color: #F7F7FC;
 }

 .nav-links.active {
     color: #c94444;
     font-weight: 400;
 }

 .nav-links.active::after {
     content: "";
     height: 3px;
     bottom: 0;
     background: #c94444;
     left: 0;
     display: block;
     z-index: 999999;
     position: absolute;
     animation-name: lineWidth;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
     animation-duration: 2s;
     border-radius: 0 !important
 }

 @keyframes lineWidth {
     from {
         width: 0;
     }

     to {
         width: 100%;
     }
 }

 .case-study-tabs {
     display: block;
     position: relative;
 }

 .tabbed-nav {
     display: flex;
     justify-content: center;
     gap: 8px;
     padding-left: 0;
     list-style-type: none;
     position: sticky;
     top: 117px;
     width: 100%;
     background-color: #F7F7FC;
     padding: 12px 48px;
     z-index: 2;
 }

 /* Responsive adjustments */
 @media (max-width:1200px) {

     .tabbed-nav {
         flex-wrap: nowrap;
         overflow-x: auto;
         justify-content: flex-start;
         padding: 12px 24px;
     }

     .tab-nav-item {
         flex: 0 0 auto;
         /* Prevents stretching */
     }

     .section-title-copy {
         font-size: 33px !important;
     }
 }

 @media (max-width:992px) {
     .section-title-copy {
         font-size: 35px !important;
         margin-top: 10px;
     }
 }

 @media (max-width: 768px) {
     .tabbed-nav {
         flex-wrap: nowrap;
         overflow-x: auto;
         justify-content: flex-start;
         padding: 12px 24px;
     }

     .tab-nav-item {
         flex: 0 0 auto;
         /* Prevents stretching */
     }

     .section-title-copy {
         font-size: 30px !important;
         margin-top: 10px;
     }

     .CustomerText li {
         font-size: 18px;
     }

     .section-title {
         font-size: 2rem !important;
     }
 }

 @media (max-width: 480px) {
     .tabbed-nav {
         padding: 12px 16px;
     }

     .nav-links {
         font-size: 14px;
         padding: 8px 12px;
     }

     .Business {
         text-align: start;
         font-size: 22px;
     }

     .section-title-copy {
         font-size: 25px !important;
         margin-top: 10px;
     }

     .CustomerText li {
         font-size: 16px !important;
     }

     .section-title {
         font-size: 1.8rem !important;
     }
 }

 .main-section-container section {
     padding: 60px 0;
     position: relative;
 }

 .main-section-container section:nth-child(even) {
     background-color: #fafafa;
 }

 .list-item-styles {
     display: block;
 }

 .list-item-styles ul {
     padding-left: 20px;
     display: flex;
     flex-direction: column;
     gap: .875rem;
 }

 .CustomerText li {
     font-size: 19px;
     text-align: left;
 }

 .main-container {
     width: 100%;
     overflow: hidden;
 }

 /* ############ Growth Stories ############## */
 .growth-stories-container {
     display: block;
     width: 100%;
     margin: 0 auto;
     padding: 1rem 60px 2rem;
     background: url("../../Image/polygon.png");
     background-size: cover;
 }

 .main-heading-background {
     background: #f8f9fa;
 }

 .solution-card {
     display: flex;
     align-items: center;
     background: #f8f9fa;
     padding: 15px;
     border-radius: 8px;
     margin-bottom: 20px;
 }

 .icon-box {
     width: 50px;
     height: 50px;

     background: #f8f9fa;
     border-radius: 5px;

     margin-right: 15px;
     border: 0;
 }


 .sticky-top-section-growth-stories {
     position: sticky;
     top: 117px;
 }

 .sticky-top-section-growth-stories img {
     width: 100%;
     border-radius: 15px;

 }

 .sticky-top-section-growth-stories img:hover {
     transform: translateY(-5px) scale(1.06);
     box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.3);
     filter: grayscale();
 }