
h1 , h2 , h3{
    
    font-family: Abril Fatface;
}
h1{
    font-weight:500 ;
    font-size: 3rem !important;
}
.first-section-text-container h4{
    color:#575757;
    line-height: 2.5;
}

.first-section-text-container button{
    background-color: #a33d3d;
    color: #fff;
    border: 0;
    padding: 15px 40px;
    border-radius: 30px;
}
.first-section-text-container button:hover,
.first-section-text-container button:active{
    background-color: #a33d3d !important;
}

.second-section-text-container h4{
    font-weight: 400;
}

.second-section-main-heading{
    color: #a33d3d;
    margin-bottom: 30px;
    position: relative;
   font-family: Abril Fatface;
    font-weight: 500;
    font-size: 3rem;
}


.second-section-main-heading::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 300px;
    height: 2px;
    background-color: #a33d3d;
}

.second-section-main-heading::after {
    right: -320px;
}
.contact-us-dropdown-content {
    display: none;
    /* background: #f8f9fa; */
    padding: 10px;
    /* border: 1px solid #ccc; */
    margin-top: 5px;
    border-radius: 5px;
  }

  .dropdown-icon {
    cursor: pointer;
    margin-left: 10px;
    transition: transform 0.3s ease;
  }
  .flipped {
transform: rotate(180deg);
}
.text-color-change {
color:#a33d3d ;/* or use #ff0000, or any other shade */
font-weight: 500;
}
.custom-tick-list {
    list-style: none;
    padding-left: 0;
  }
  
  .custom-tick-list li {
    position: relative;
    padding-left: 24px; /* space for the tick */
    margin-bottom: 10px;
  }
  
  .custom-tick-list li::before {
    content: '✔'; /* Unicode checkmark */
    position: absolute;
    left: 0;
    color: maroon;
    font-weight: bold;
  }
  

  .parent-slider{
    position: relative;
    padding: 0rem 1.8rem;
    background-color: rgba(255, 255, 255, 0.55);
  }
  .img-container-kie{
    height: 400px;
    overflow: hidden;
   
  }
  .img-container-kie img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  }
     .parent-nav.swiper-button-next::after, 
      .parent-nav.swiper-button-prev::after {
        font-size: 38px;
        color: #000;
      }
      .what-we-offer-text-container li{
        font-size: 18px;
      }

      .gray-background{
         background-color: rgb(251, 246, 251);
      }